.hero {
  width: 100%;
  height: 400px;
  max-height: 400px;
  display: block;
  margin: 0 auto;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.postContainer {
  max-width: 720px;
  margin: 0 auto;
  margin-top: 5rem;
  padding: 0 2rem;

  header {
    h1 {
      font-size: 3rem;
      font-weight: bold;
      letter-spacing: -0.03125rem;
    }

    .postInfoWrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-top: 1.5rem;
      margin-bottom: 4rem;

      .postInfoContainer {
        display: flex;
        margin-bottom: 1rem;

        .postInfo {
          color: var(--info);

          display: flex;
          align-items: center;
          justify-content: center;

          & + .postInfo {
            margin-left: 1.5rem;
          }

          span {
            margin-left: 0.5rem;
          }
        }
      }

      .updatedAt {
        font-style: italic;
        font-size: 0.875rem;
      }
    }
  }

  .postContent {
    a {
      color: var(--highlight);
    }

    h2 {
      font-size: 2.25rem;
      font-weight: bold;
      margin-bottom: 1.5rem;
    }

    p,
    ul {
      margin: 1.5rem 0;
    }

    ul {
      padding-left: 1.5rem;

      li {
        margin: 0.5rem 0;
      }
    }

    .paragraph {
      margin: 5rem 0;
    }
  }

  .postPaginationContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem;
    margin-top: 3.75rem;
    border-top: 1px solid var(--body);
    padding-top: 3rem;

    .postPagination {
      display: flex;
      flex-direction: column;
      width: 45%;

      p {
        color: var(--heading);
        font-size: 1.125rem;
        letter-spacing: -0.03125rem;
        margin-bottom: 0.4375rem;

        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }

      a {
        color: var(--highlight);
        font-weight: 600;
        letter-spacing: -0.03125rem;
      }

      &.left {
        text-align: left;
      }

      &.right {
        text-align: right;
        margin-left: auto;
      }
    }
  }
}
